.DS_Store
*Zone.Identifier
__pycache__/
node_modules/
package.json
package-lock.json
.env
bun.lock

secrets.toml

.cursor/
.github/
.opencode/
.claude/
.codex/
.gemini/
.claptrap/
.serena/
.ralph/
/openspec/
